{% extends 'base.html' %}

{% block title %}Education{% endblock %}

{% block content %}

<h2>Education</h2>

<div class="card">

<h3>Bachelor of Computer Science</h3>

<p>UNIVERSITY OF MANAGEMENT AND TECNOLOGY</p>

<p>2023- 2027</p>

<P>Semester current : 6TH</P>

<p>CGPA : 3.26</p>

</div>

<div class="card">

<h3>Intermediate</h3>

<p>PAK GARRISION</p>

<p>2019 - 2021</p>

<p>MARKS: 87%</p>

</div>
<div class="card">
<h3>MATRICULATION</h3>
<p>SCHOOL : HIRA GRAMMER</p>
<p>MARKS : 96%</p>
</div>

{% endblock %}