{% extends 'base.html' %}


{% block content %}

<section class="home-container">

    <div class="home-text">

        <h1>Hello, Welcome 👋</h1>

        <h2>MUQADDAS ZAHRA HERE. I am a Web Developer</h2>

        <p>
            I build modern websites and applications.
            This portfolio contains my education,
            skills, projects and contact details.
        </p>

        <button>
            Explore My Work
        </button>

    </div>

    <div class="home-image">

        <img src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97"
             alt="Developer Portfolio Image">

    </div>

</section>

{% endblock %}